<section id="section-indicators" class="section section-indicators indicators">
    <div class="container-fluid">
        <!-- Texto principal -->
        <div class="stats-header">
            <h2>{{ title() }}</h2>
        </div>

        <!-- Contadores estadísticas -->
        <div class="stats-grid">
            @for (item of indicators(); track item.id) {
            <div class="stat-item">
                <div class="stat-number">{{ item.number }}</div>
                <div class="stat-label">{{ item.label }}</div>
            </div>
            }
        </div>
    </div>
</section>