<section class="pre-footer"> <!--Nueva seccion en main no hablada con Nilson-->
    <div class="banner">
        <div class="container banner-container">
            <div class="banner-content">
                <p><strong>{{ content().text }}</strong></p>
                <a [href]="content().pdfUrl" target="_blank" class="btn-primary"><i class="fa-regular fa-file-pdf"
                        style="margin-right: 1rem;"></i>{{
                    content().pdfButtonText }}<i class="fa-solid fa-circle-down" style="margin-left: 0.8rem;"></i></a>
            </div>
        </div>
    </div>
</section>